USE [master]
GO
/****** Object:  Database [Goncharov_snake]    Script Date: 03.04.2024 18:39:12 ******/
CREATE DATABASE [Goncharov_snake]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Goncharov_snake', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Goncharov_snake.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Goncharov_snake_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Goncharov_snake_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Goncharov_snake].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Goncharov_snake]
GO
/****** Object:  Table [dbo].[Scoreboard]    Script Date: 03.04.2024 18:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scoreboard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Scoreboard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
